<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507093731207-7k3qeqb4272u08hlv65b80qn9i1euhv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507093731207-7k3qeqb4272u08hlv65b80qn9i1euhv8</string>
	<key>API_KEY</key>
	<string>AIzaSyAJPcyKzh4B7wFEiYvMFpNKRLJnmKqypm0</string>
	<key>GCM_SENDER_ID</key>
	<string>507093731207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kuba.CryptoTradeSimulator</string>
	<key>PROJECT_ID</key>
	<string>crypto-trade-simulator-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-trade-simulator-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507093731207:ios:ad201031c30844e5a3f522</string>
	<key>DATABASE_URL</key>
	<string>https://crypto-trade-simulator-ios.firebaseio.com</string>
</dict>
</plist>